@use '@styles/colors' as colors;

.container th,
.container td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.container th {
  background-color: white;
  font-weight: bold;
}

.info {
  text-align: center;
  padding: 20px;
}

.imageCell {
  position: relative;
  cursor: pointer;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.hoverImage {
  position: absolute;
  top: -10px;
  left: 60px;
  min-width: 200px;
  min-height: 200px;
  object-fit: cover;
  border: 1px solid colors.$gray;
  visibility: hidden;
  transform: scale(0.8);
  transition: all 0.3s ease;
  z-index: 20;
}

.thumbnail:hover + .hoverImage,
.hoverImage:hover {
  visibility: visible;
  transform: scale(1);
}

