@forward 'colors';
@forward 'fonts';
@forward 'typography';
@forward 'media';
@use "../../node_modules/normalize.css/normalize";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  min-width: 320px;
  word-break: normal;

}
bl
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
