@mixin media-breakpoint-up($size) {
  @if $size ==minsm {
    @media (max-width: 360px) {
      @content;
    }
  } @else if $size ==md {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $size ==minxl {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size ==mdxl {
    @media (max-width: 950px) {
      @content;
    }
  } @else if $size ==xl {
    @media (max-width: 1280px) {
      @content;
    }
  }
  @else if $size ==xxl {
    @media (max-width: 1600px) {
      @content;
    }
  }
}