@use '@styles/colors' as colors;

.loading {
    display: flex;
    padding: 40px;
    gap: 16px;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 4px solid colors.$gray;
    border-top: 4px solid colors.$dark-gray;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.text {
    font-size: 18px;
    color: colors.$black
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}